<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/index.css' %}">
</head>
<body>

<div class="sidenav">
    <a href="#">Домашняя страница</a>
    {% if user.is_authenticated %}
    <a href="{% url 'user:personal_area' %}">Личный кабинет: {{ request.user.username }}</a>
    <a href="{% url 'user:logout' %}">Выход</a>
    {%else%}
    <a href="{% url 'user:login' %}">Вход</a>
    <a href="{% url 'user:registration' %}">Регистрация</a>
    {%endif%}
</div>
{% block content %}
    {% if product_list %}
        {% for product in product_list %}

            <div class="post-wrap">
                <div class="post-item">
                    <div class="item-content">
                        <div class="item-icon group">
                            <p>Название: {{ product.title }} </p>
                            <img src="{{ product.image.url}}" alt="connect" style="max-height:150px">
                            <p>Описание: {{ product.description }}</p>
                            <p>Категория тавара:{% for category in product.category.all %}
                                        {# выводим m2m#}
                                {{ category.title }},{% endfor %}</p>
                            <p><a href="{% url 'company:company_info' product.company_id  %}">
                                Компания производитель: {{ product.company }}</a></p>
                            <p>Цена: {{ product.price }} руб</p>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>