<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <lang></lang>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/register.css' %}">
</head>
<body>

<div class="container">
    <h1>Регистрация</h1>
    <p>Следуйте форме</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Регистрация">
    </form>
</div>
<div class="container signin">
    <p>У вас уже есть аккаунт? <a href="{% url 'user:login' %}">Вход</a>.</p>
</div>
</body>
</html>